{% extends "layout/accounts_base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock title %}
{% block header %}Сброс пароля{% endblock %}
{% block container %}
<div class="container-registration">
{% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="common"> <img class="icon-registration" src="{% static 'img/email-icon.png' %}" alt="">{{ form.email }}</div>
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <p class="form-error">{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="common"> <input class="btn registration" type="submit" value="Сбросить"></div>
</form>
{% endblock content %}