{% extends "layout/accounts_base.html" %}
{% load static %}
{% block title %}Регистрация{% endblock title %}
{% block header %}Регистрация{% endblock %}
{% block container %}
<div class="container-registration">
{% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="common"> <img class="icon-user icon" src="{% static 'img/user.png' %}" alt="">{{ form.username }}</div>
    {% if form.username.errors %}
        {% for error in form.username.errors %}
            <p class="form-error">{{ error|escape }}</p>
        {% endfor %}
    {% endif %} 
    <div class="common"> <img class="icon-registration" src="{% static 'img/email-icon.png' %}" alt="">{{ form.email }}</div>
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <p class="form-error">{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
    <div class="common"> <img class="icon" src="{% static 'img/password.png' %}" alt="">{{ form.password }}</div>
    <div class="common"> <img class="icon" src="{% static 'img/password.png' %}" alt="">{{ form.password2 }}</div>
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <p class="form-error">{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="common"> <input class="btn registration" type="submit" value="Подтвердить"></div>
</form>
{% endblock content %}