{% extends 'layout/base.html' %}
{% load static %}
{% block head %}
    {% if user.is_authenticated %}
        Welcome to the Shipa Club, {{ user.username }}!
    {% else %}
        Welcome to the Shipa Club, buddy!
    {% endif %}
{% endblock %}


{% block contitle %}<tr> 
    <td class="contitle-tab"><a href="{% url 'main:about' %}">О проекте</a></td>
    <td class="contitle-tab selected"><a href="{% url 'main:index' %}">Новости</a></td>
    <td class="contitle-tab"><a href="{% url 'main:rules' %}">Правила</a></td>
</tr>{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class="detail"><a href="{% url 'main:create' %}">Добавить новость</a></div>
{% endif %}
{% for n in news %}
    <div class="news">
        <div class="line">
            <span class="rows-1">{{ n }}</span>
            {% if user.is_staff %}
            <span class="rows-2"><a href="{% url 'main:edit' pk=n.pk %}">&#9999;</a> <a href="{% url 'main:delete' pk=n.pk %}">&times;</a></span>
            {% endif %}
        </div>
        <div class="news-block">
            {% if n.image %}
            <div class="news-img-block">
                <img src="{{ n.image.url }}" alt="{{ n }}" class="news-img hover-img">
            </div>
            <div class="news-content ">
            {% else %}
            <div class="news-content all">
            {% endif %}
                <textarea disabled="disabled">{{ n.content }}</textarea>
            </div>  
        </div>
        <div class="line">
            <span class="rows-1">{{ n.published|timesince  }} назад</span>
        </div>
    </div>
{% endfor %}
<div id="myModal" class="modal">
    <span class="close" id="close_img" onclick="document.getElementById('myModal').style.display = 'none'">&times;</span>
    <h3 id="caption">привет</h3>
    <img class="modal-content" id='img01'>
</div>
{% endblock %}
